<app-navbar></app-navbar>
<div class="jumbotron">
  <h1 class="display-3">Fund Raising</h1>
  <p class="lead">Highlighting what deserves to be supported</p>
  <hr class="my-4">
  <p>The ultimate crowd funding solution</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<div class="list-group">
  <a href="#" *ngFor="let p of pro$" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{p.title}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{p.proDesc}}</p>
  </a>
</div>
