<footer id="footer">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li><a target="_blank" href="https://facebook.com">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com">Twitter</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
      <p>Made by <a target="_blank" href="https://github.com/shehryarnaeem">Shehryar Naeem</a>, <a target="_blank" href="https://github.com/HassanBerry">Hassan Berry</a>, <a target="_blank" href="https://github.com/SaiFi0102">Saif Ur Rehman</a> and <a target="_blank" href="https://github.com/saadismail">Saad Ismail</a>.</p>
      <p>Based on <a href="https://meanjs.org/" rel="nofollow">MEAN Stack</a>.</p>

    </div>
  </div>
</footer>