<app-navbar></app-navbar>
<div class="regCard">
<div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 40rem;">
  <div class="card-header text-center">Have an account?
    <a href="login">login</a></div>
  <div class="card-body">
    <h4 class="card-title">SignUp:{{status}}</h4>
    <form [formGroup]="registerForm">
      <input type="text"  id="name" class= "form-control" placeholder="Name" formControlName="name" required><br>
      <input type="email" class= "form-control" placeholder="Enter email" formControlName="email" required><br>
      <input type="password" class= "form-control" placeholder="Enter Password" formControlName="password" required ><br>
      <input type="number" class= "form-control" placeholder="Enter Credit Card Number" formControlName="ccNumber" requi4><br>
      <input type="number" class= "form-control" placeholder="Enter CNIC Number" formControlName="cnic" required><br>
    </form>
    <button type="submit" (click)=onClickSubmit(registerForm.value) id="acc" [disabled]="!registerForm.valid" 
    class="btn btn-secondary btn-lg btn-block">Create Account</button>
  </div>
</div>
</div>
